body {
  padding-top: 50px;
  color: black;
  text-size: 18px;
}
.profile-header {
  padding: 40px 15px;
  text-align: center;
}

header {
  height: 475px;
  background-color: #0066CC;
  padding-bottom: 40px;
  color: white;
}

header img {
  border-radius: 125px;
}

.about {
  padding: 40px 15px;
  text-align:center;
}
.about p {
  margin: 0 40px 10px;
  font-size: 1.2em;
}

.portfolio, .contact {
  text-align: center;
  font-size: 1.2em;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: white;
    background-color: #428BCA;
  }

.contact {
  border-top: 1px solid #eee;
}

footer {
    height: 300px;
}


